header{
  width:100%;
  background-color: black;
  color:white;
  padding:20px;
  font-size:24px;
}

.mat-toolbar-row{
  background-color: black;
  color: white;
}

.mat-toolbar-row a{
  color: white;
  text-decoration: none;
  transition: all .5s;
}

.mat-toolbar-row a:hover{
  color: white;
  letter-spacing: 1px;
}

.example-spacer {
  flex: 1 1 auto;
}

.subtitle{
  font-size:18px;
}

.author{
  font-size:16px;
}
