<section class="characters-list">


  <div fxLayout="row wrap">
    <button fxFlex mat-raised-button [disabled]="!useWeb" (click)="getCharacters('local')">Load from Local</button>
    <button fxFlex mat-raised-button [disabled]="useWeb" (click)="getCharacters('web')">Load from Web</button>
  </div>

  <h2>The Characters</h2>
  <mat-divider></mat-divider>
  <div fxLayout="row wrap"
    fxLayoutAlign="start center"
    fxLayoutGap="10px">
      <mat-card class="example-card" *ngFor="let character of characters$ | async" fxFlex="<grow>" (click)="showCharacter(character)">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{character.name}}</mat-card-title>
        <mat-card-subtitle>Star Wars</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

</section>

<section *ngIf="loading" class="loading">
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</section>
