section{
  text-align: center;
  color:white;
  background-color: #7ecdc1;
  height:100%;
}

a{
  text-decoration: none;
}

a:visited{
  color:white;
}

a:hover{
  text-decoration: underline;
}

section img{
  margin-top:10px;
  width:100%;
  height:auto;
}
