.character-details{
  padding:50px;
  font-size:18px;
}

button mat-icon{
  padding-right:16px;
}

h1{
  text-align: center;
  width:100%;
  font-size:40px;
}

iframe{
  width:100%;
  height:auto;
  min-height:250px;
}

mat-divider{
  margin:10px 0;
}

.no-video{
  width: 100%;
  margin: 0 auto;
}

.tmdb-logo{
  position: absolute;
  top:72px;
  right:10px;
  width:25px;
  height:auto;
}
.example-card {
  /* max-width: 250px; */
  min-width:250px;
  margin-bottom:10px;
  transition: all 0.5s;
  max-width:350px;
}

.mat-card-content p{
  line-height:20px;
}

.stat{
  padding: 6px 0;
}

.stat span{
  font-weight:700;
}
